<li role="separator" class="divider"></li>
<li style="width: 300px; max-height: 40vh;">
    <%= profile_avatar_select_sm(notification.notified_by) %>
    <p><%= link_to "#{notification.notified_by.user_name} #{notification.notice_type}", link_through_path(notification), :style => "text-decoration: none;" %></p>
</li>