<li class="dropdown">
    <a class="noti-dropdown" id="dLabel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-bell fa-2x" aria-hidden="true"></span>
        <%= current_user.notifications.where(read: false).count %>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="max-height: 325px; overflow: hidden;">
        <li style="text-align: center; height: 15px;">
            Notifications
        </li>
        <%= render current_user.notifications.where(read: false).order('created_at DESC') %>
    </ul>
</li>