<div class="container">
    <ul class="home-post">
    <% @posts = Post.all.order('created_at DESC')%>
    <% @posts.each do |post| %>
        <li>
            <div class="thumbnails">
                <%=link_to (image_tag post.image.url, class:'image img-responsive'),post_path(post) %>
                <div class="opacity">
                    <h5><b><%= post.user.user_name%></b></h5>
                    <%= post.caption %>
                </div>
            </div>
        </li>

    <%end%>
    </ul>
</div>
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>