<div >
    <ul class="home-post">
    <% @posts = Post.all.order('created_at DESC')%>
    <% @posts.each do |post| %>
        <li>
            <div class="thumbnails">
            <%=link_to (image_tag post.image.url, class:'image'),post_path(post) %>
            <div class="opacity">
                <div class="post-caption">
                    <%= post.caption %>
                </div>
                <div class="post-user">
                    <%= post.user.user_name%>
                </div>
            </div>
            </div>
        </li>

    <%end%>
    </ul>   
</div>
<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>