 <body id ="main">
         <div class="header-menu">
        <ul>
        <li class="menu">
            <i id="icon" class="fa fa-home fa-lg" ></i>
            <a title="Trang chủ" class="title">Home</a>
        </li>
        <li class="menu">
            <i class="fa fa-sign-in"></i>
            <%= link_to(new_user_session_path) do%>
            <a title="Đăng nhập" class="title">Signin</a>
            <% end %>
        </li>
        <li class="menu">
            <i class="fa fa-sign-in"></i>
            <a title="Đăng kí" class="title">Signup</a>
        </li>
        </ul>
    </div>
        <div class="body">
        
  </div>
        
    </body>