<div class="container center">
    <%= render 'form' %>
    <%= link_to "Delete post", post_path(@post), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
</div>