<div class="posts-show">
    <div class="container center">
        <div class="col-xs-8 col-xs-offset-2">
            <% @posts = Post.all.order('created_at DESC')%>
            <% @posts.each do |post| %>
                <div class="polaroid">
                    <%=link_to (image_tag post.image.url, class:'polaroid-img img-responsive'),post_path(post) %>
                    <div class="image-info">
                        <h5><b><%= post.user.user_name%></b></h5>
                        <%= post.caption %>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>