.center {
    text-align: center;
    margin-top: 40px;
}

.form-margin {
    margin-bottom: 15px;
}

.user-name{
  color: lightblue;
}

.cover-photo {
    width: 100%;
    height: 300px;
    background: #000 url("coverphoto.jpg") center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
}

.adjust-image {
    width: 380px;
    height: 380px;
    overflow: hidden;
    object-fit: cover;
    margin: 5px;
}

.avatar {
    height: 81px;
    width: 89px;
    object-fit: cover;
}
.avatar-icon{
    height: 20%;
    width:20%;
    float: left;
    object-fit: cover;
    border-radius: 25px;
}

.avatar-inside-cover {
    position: absolute;
    top: 215px;
    left: 200px;
    width: 100%;
    height: 100%;
}

.info-inside-cover {
    position: absolute;
    top: 215px;
    left: 380px;
}

.edit-btn-inside-cover {
    position: absolute;
    top: 305px;
    left: 380px;
}

.user-name {
    font-size: 32px;
    color: white;
    margin-left: -69px;

}
.info{
    /*background-color: blue;*/
    margin-top: 10px;
    margin-left: -75px;
     color:blue;
}
.edit-btn{
    position: absolute;
    top: 316px;
    left: 200px;
}

.comment-hover:hover .glyphicon-remove {
    display: block;
}

.comment-hover:hover {
    background-color: rgb(230,230,230);
}

.glyphicon-remove {
    display: none;
}

.glyphicon-remove:hover {
    color: red;
}

.glyphicon-thumbs-up:hover {
    color: green;
}

.glyphicon-thumbs-down:hover {
    color: green;
}

.polaroid {
    /*background-color: white;*/
    margin-top: 50px;
    /*margin-bottom: 25px;*/
}

.polaroid:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-info {
    /*text-align: center;*/
    /*  padding-top: 20px;*/
    /* width: 226px; */
    color: #216DF3;
    float: left;
    margin-left: 0px;
    border-radius: 24px;
   
   
}
.image-info-posts{
    color: #216DF3;
    float: left;
    margin-left: -12px;
    border-radius: 24px;
    margin-top: 11px;
}

.polaroid-img {
    width: 100%;
    height: auto;
}
.title-posts{
    color: #216DF3;
    text-align: center;
    margin-top: 5px;
}
.title-postss{
    color: #216DF3;
    text-align: center;
    margin-top: 82px;
    padding-bottom: 17px;
}
.follow{
     color:white;
     margin-left: -4px;
    
}
