.center {
    text-align: center;
    margin-top: 10vh;
}

.form-margin {
    margin-bottom: 12px;
}

.user-name{
  color: lightblue;
}

.cover-photo {
    width: 100%;
    height: 38vmin;
    background: #000 url("coverphoto.jpg") center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 7vmin;
}

.avatar-profiles {
    height: 22vmin;
    width: 22vmin;
    object-fit: cover;
}

.avatar-inside-cover {
    position: absolute;
    top: 28vmin;
    left: 26vmin;
}

.info-inside-cover {
    position: absolute;
    top: 25vmin;
    left: 50vmin;
}

.adjust-image {
    margin: auto;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    object-fit: cover;
}

.comment-hover:hover .glyphicon-remove {
    display: block;
}

/*.comment-hover:hover {
    background-color: rgb(230,230,230);
}*/

.glyphicon-remove {
    display: none;
}

.glyphicon-remove:hover {
    color: red;
}

.glyphicon-thumbs-up:hover {
    color: green;
}

.glyphicon-thumbs-down:hover {
    color: green;
}

.avatar {
    float: left;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar-md {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin: -8px 0px 0px;
    padding: 0px;
}

.avatar-sm {
    float: left;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 10px 5px;
    padding: 0px;
}

.polaroid {
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    border: 1px solid lightgray;
    margin-top: 30px;
}

.polaroid-heading {
    padding: 15px;
    min-height: 80px;
    background-color: #f4f4f4;
}

.polaroid:hover {
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.statistic-opacity {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: -100px;
    background: linear-gradient(to bottom, rgba(100,100,100,0), rgba(100,100,100,0.9));
    opacity: 0;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.polaroid:hover .statistic-opacity {
    display: block;
    opacity: 1;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.polaroid-img {
    width: 100%;
    min-height: 100px;
}

.statistic-opacity-profiles {
    width: 25vw;
    height: 6vw;
    position: absolute;
    margin-top: -6vw;
    background: linear-gradient(to bottom, rgba(100,100,100,0), rgba(100,100,100,0.9));
    opacity: 0;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.image-profiles:hover .statistic-opacity-profiles {
    display: block;
    opacity: 1;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.noti-dropdown {
    height: 50px;
    background-color: #222;
}