.center {
    text-align: center;
    margin-top: 10vh;
}

.form-margin {
    margin-bottom: 15px;
}

.user-name{
  color: lightblue;
}

.cover-photo {
    width: 100%;
    height: 38vmin;
    background: #000 url("coverphoto.jpg") center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 7vmin;
}

.avatar-profiles {
    height: 22vmin;
    width: 22vmin;
    object-fit: cover;
}

.avatar-inside-cover {
    position: absolute;
    top: 28vmin;
    left: 26vmin;
}

.info-inside-cover {
    position: absolute;
    top: 25vmin;
    left: 50vmin;
}

.adjust-image {
    margin: 0.3vw 0.1vw;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    object-fit: cover;
}

.comment-hover:hover .glyphicon-remove {
    display: block;
}

.comment-hover:hover {
    background-color: rgb(230,230,230);
}

.glyphicon-remove {
    display: none;
}

.glyphicon-remove:hover {
    color: red;
}

.glyphicon-thumbs-up:hover {
    color: green;
}

.glyphicon-thumbs-down:hover {
    color: green;
}

.avatar {
    float: left;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar-sm {
    float: left;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 10px;
    padding: 0px;
}

.polaroid {
    transition: 0.5s;
    border: 1px solid lightgray;
    margin-top: 50px;
}

.polaroid-heading {
    padding: 15px;
    min-height: 80px;
}

.polaroid:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.statistic-opacity {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: -100px;
    background: linear-gradient(to bottom, rgba(100,100,100,0), rgba(100,100,100,0.9));
    opacity: 0;
    transition: 0.5s;
}

.polaroid:hover .statistic-opacity {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

.polaroid-img {
    width: 100%;
    min-height: 100px;
}

.noti-dropdown {
    height: 50px;
    background-color: #222;
}
