// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

body {
	margin:0px;
    
}


body:focus {
outline: none; }
#main{
    
    font-family: 'Roboto Slab',serif;
    color: white;
    width: 100%;
}

/*header*/
.header-menu{
    width: 1163px;
    margin: -16px auto;
    height: 80px;
    opacity: 1.5;
    background: rgba(158, 158, 158, 0.1); 
    
}
.body{
    width: 1041px;
    margin: 40px auto;
    opacity: 1.5;
    min-height: 500px;
}

.menu{
    height: 51px;
    margin-top: 5px;
    
}
#icon{
    margin-top : 30px;
    margin-left: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.header-menu ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;

    
}

.header-menu ul{

 list-style:none;
 line-height:30px;
 
 }
 
 .header-menu li ul{
  position:absolute;
  display:none;
  margin:-5px 0px;
  padding:0;
  top:20px;
  left:20px;
  cursor:pointer;
  font-size:100%;
  width: 300%;
  border-radius: 5px;
  background: rgba(158, 158, 158, 0.1);
  z-index: 5;
   }

.header-menu ul ul li a{
    margin-left: 10px;
    font-size: 15px;
   /*width: 160px !important;*/
 
  }
 .header-menu a:hover{
  color: deepskyblue; 
  }
 .header-menu li:hover ul,
 .header-menu li:hover ul ul	{
  display:block;
  }


/*sign up*/
.Signup{
    padding-top: 20px;
    margin-left: 359px;
    margin-top: 47px;
    width: 420px;
   background: rgba(158, 158, 158, 0.1);
   height: 265px;
}

.Signup ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
}
.info{
    font-family: 'Roboto Slab',serif;
    font-size: 15px;
}
.info-title{
    color:#0089C4 ;
    font-size: 17px;
    margin-left: 0px;
}
.signup-quit ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 12px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
    display: inline-block;
}
.signup{
   background: rgba(3, 169, 244, 0.12);
    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 94px;
}
.quit{
   background: rgba(3, 169, 244, 0.12);
    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
}
.input{
    margin-top: -5px;
    height: 29px;
    background: rgba(3, 169, 244, 0.12);
    color: white;
    font-size: 20px;
   font-family: 'Roboto Slab',serif;
    border-radius: 5px;
    float: right;
    
}



/*sign in*/

.Signin{
    padding-top: 20px;
    margin-left: 359px;
    margin-top: 47px;
    width: 400px;
   background: rgba(158, 158, 158, 0.1);
   height: 180px;
}

.Signin ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
}
.info{
    font-family: 'Roboto Slab',serif;
    font-size: 15px;
}
.info-title{
    color:#0089C4 ;
    font-size: 17px;
    margin-left: 0px;
}
.signin-quit ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 12px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
    display: inline-block;
}
.signin{

    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 94px;
}
.quit{
   background: rgba(3, 169, 244, 0.12);
    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
}
.input{
    margin-top: -5px;
    height: 29px;
    background: rgba(3, 169, 244, 0.12);
    color: white;
    font-size: 20px;
   font-family: 'Roboto Slab',serif;
    border-radius: 5px;
    float: right;
    
}
.login-logout{
    background: rgba(63, 81, 181, 0.35);
    width: 500px;
    margin-left:333px;
    border-radius: 39px;
    color: #23527c;
    height: 380px;
}
.field{
    margin-left: 110px;
}
.actions{
    margin-left: 195px;
    margin-top: 20px;
}
.remember{
  margin-left: 22px; 
    margin-top: -29px;
}
.link{
    margin-left: 70px;
    margin-top: 25px;
}
.links-login{
     margin-left: 70px;
    margin-top: 10px;
}
