html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	margin:0px;
    
}
#main{
    background: url(image/background.jpg);
    font-family: 'Roboto Slab',serif;
    color: white;
   
}

.Signup{
    padding-top: 20px;
    margin-left: 359px;
    margin-top: 47px;
    width: 420px;
   background: rgba(158, 158, 158, 0.1);
   height: 265px;
}

.Signup ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
}
.info{
    font-family: 'Roboto Slab',serif;
    font-size: 15px;
}
.info-title{
    color:#0089C4 ;
    font-size: 17px;
    margin-left: 0px;
}
.signup-quit ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 12px;
    text-decoration: none;
     z-index:254444444444;
    position:relative;
    cursor:pointer;
    display: inline-block;
}
.signup{
   background: rgba(3, 169, 244, 0.12);
    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 94px;
}
.quit{
   background: rgba(3, 169, 244, 0.12);
    width: 77px;
    height: 37px;
    color: white;
     font-family: 'Roboto Slab',serif;
    font-size: 14px;
    border-radius: 5px;
}
.input{
    margin-top: -5px;
    height: 29px;
    background: rgba(3, 169, 244, 0.12);
    color: white;
    font-size: 20px;
   font-family: 'Roboto Slab',serif;
    border-radius: 5px;
    float: right;
    
}
